<section>
  <div class="row">
<ul class="nav nav-pills">
  <li class="nav-item">
     <a class="nav-item nav-link active" ui-sref="projects.details.edit">Table de décision</a>
  </li>
  <li class="nav-item">
     <a class="nav-item nav-link" ui-sref="projects.details.edit">Critères</a>
  </li>
  <li class="nav-item">
     <a class="nav-item nav-link" ui-sref="projects.details.edit">Views</a>
  </li>
  <li class="nav-item">
     <a class="nav-item nav-link" ui-sref="projects.details.categories">Categories</a>
  </li>
</ul>

    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
