<section>
  <div class="page-header">
    <h1>
      Api Types
      <a class="btn btn-primary pull-right" data-ui-sref="viewtypes.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <table class="table tables-list">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="viewtype in vm.viewtypes" data-ui-sref="viewtypes.edit({viewtypeId: viewtype._id})" class="vlist-group-item">
     <!-- <th  scope="row">{{$index}}</th> -->
      <td data-ng-bind="viewtype.name">Mark</td>
    </tr>
  </tbody>
</table>
   <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>

  <div class="alert alert-warning text-center" data-ng-if="categories.$resolved && !categories.length">
    No categories yet, why don't you <a data-ui-sref="admin.categories.create">create one</a>?
  </div>

</section>
