<section>
  <div class="page-header">
    <h1>Views</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="view in vm.views"
       ui-sref="views.view({ viewId: view._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="view.created | date:'mediumDate'"></span>
        by
        <span ng-if="view.user" ng-bind="view.user.displayName"></span>
        <span ng-if="!view.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="view.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.views.$resolved && !vm.views.length">
    No Views yet, why don't you <a ui-sref="views.create">create one</a>?
  </div>
</section>
